.container p {
  font-family: dupincel-variable, serif;
  font-size: 1.5em;

  line-height: 1.5;
  margin-bottom: 10px; /* Add margin bottom to create space between lines */
}

.container p span {
  background-color: rgb(0, 0, 0); /* Semi-transparent black */
  padding: 2px; /* Add padding to create space around the blacked-out text */
  transition: background-color 0.3s ease; /* Add transition for smooth effect */
}

.container p span.visible {
  background-color: transparent; /* Make the visible words transparent */
  cursor: pointer; /* Change cursor to pointer when hovering over visible words */
}

.container p span.blacked-out:hover {
  background-color: rgba(0, 0, 0, 0); /* Make the blacked-out words transparent on hover */
  cursor: pointer; /* Change cursor to pointer when hovering over blacked-out words */
}

.container { padding-top: 5em;
 max-width: 80em;
padding-left:5em}

.intro { font-size: 2.5em;
  font-family: dupincel-variable, serif;
padding-top: 2em;
padding-left:2.5em}

body {background-color:  rgb(237, 237, 228);}


.button      {background-color: rgba(0, 0, 0, 0);
     border: solid rgb(1, 1, 1); 
     color: rgb(1, 1, 1); 
     padding: 10px 20px; 
     text-align: center;
     text-decoration: none; 
     display: inline-block; 
     font-size: 16px; 
     cursor: pointer; 
     border-radius: 20px; font-family:dupincel-variable, serif;
     transition: background-color 0.3s ease;
     margin-left: 40em;
     margin-top: 2em;
     position: relative;
 
   }

   @media screen and (max-width:1200px){

    .intro {padding-left: 1.5em;}
    
    .button {margin-left:15em;
    font-size: 12px;}
  }