#scrolling-text-container {
    line-height: 120%;
    position: absolute;
    left: 0;
    bottom: 0; 
    width: 600px;
    height: 1000px; 
    overflow: hidden;
  padding-left: 2em;
  }

  body {  font-family: dupincel-variable, serif;
    font-size: 1.5em;}
  #scrolling-text {
    position: absolute;
    top: 100%;
    animation: scroll-up 10s linear infinite; 
  }
  
  @keyframes scroll-up {
    0% {
      top: 100%;
    }
    100% {
      top: -100%; 
    }
  }
  
  #stop-button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: dupincel-variable, serif;
  }
  
  #stop-button {
    
  }
  
  #replacement-text-container {
    position: absolute;
    top: 50%;
    right: 150px; 
    transform: translateY(-50%);
  }
  
  #replacement-text {
    display: none;
    animation: fadeIn 2s forwards;
   @keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
   }
    
  adjust fade-in
 
  }
    
  body {background-color: black;
color:white }

#stop-button {font-family: dupincel-variable, serif;
       
background-color: black;
     border: solid rgb(255, 255, 255); 
     color: rgb(255, 246, 246); 
     padding: 10px 20px; 
     text-align: center; 
     text-decoration: none; 
     display: inline-block;
     font-size: 16px;
     cursor: pointer;
     border-radius: 20px; font-family:dupincel-variable, serif;
     transition: background-color 0.3s ease;
     margin-left: 3em;
 
   }
 
   @media screen and (max-width:1200px){
     #scrolling-text { font-size: 1em;
        position: absolute;
        padding-left: 0px;
     
    }

    #replacement-text {font-size: 1em;   position: absolute;
      
    }

    #stop-button {margin-left:15em;
    font-size: 12px;}
  }